html {width: 100%;}

img {
    width: 100%;
}

.totally-center {
    text-align: center;
    align-self: center;
}

h4 {
    font-weight: 300;
    padding: 1rem;
}

.container {
    margin: 2rem;
}

.serve-message {
    font-size: 3rem;
    font-variant: all-small-caps;
    color: blue;
    letter-spacing: 0.2rem;
}

.serve-categories {
    overflow: hidden;
}

.serve-categories img {
    /* height: 20rem; */
    /* width: -webkit-fill-available; */
    display: block;
    margin: auto;
    margin-top: 1rem;
}

.more-details > div > img {
    height: 20rem;
}

.low-price {
    position: relative;
}

.low-price div {
    margin: 0;
    position: absolute;
    top: 5rem;
}

.low-price div h3 {
    font-size: 200%;
}

.low-price div .btn {
    margin-top: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-2 {
    margin-right: 2rem;
}

form {
    margin: 5rem;
    margin-top: 2rem;
}

form label.form-message {
    display: block;
}

textarea {
    width: 100%;
    height: 10rem;
}

@media only screen and (min-height: 900px) {
    footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
}

@media only screen and (min-width: 700px) {
    header ul {
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    .comfort {
        margin: revert;
    }
    
    .low-price div {
        width: inherit;
    }

    .serve-categories img {
        height: 20rem;
        width: 100%;
    }
}